
.lightTheme{
    --bg:#ffffff;
    --navlink:rgb(0, 0, 0);
    --navlinkhover:rgba(0, 0, 0, 0.831);
    background-color: #FFFFFF;
    --imgshadow:rgba(179, 236, 240, 0.504);
    --textcolor:#1C1E21;
    --projectborder:#1c1e212f;
    --bgshadow:rgba(0, 0, 0, 0.589);

}
.darkTheme{
    --bg:#242526;
    --bgimg:url(../../public/assets/bgim.jpg);
    --navlink:rgba(255, 255, 255, 0.997);
    --navlinkhover:rgb(255, 255, 255);
    background-color: #1B1B1D;
    --textcolor:#E3E3E3;
    --projectborder:#e3e3e32d;
    --bgshadow:rgba(73, 73, 73, 0.484);
}

.navbarbg{
    background-image: var(--bgimg);
    background-color: var(--bg);
}


.new{
 color: var(--textcolor);
}

.bgimg{
 background-image: var(--bgimg);
    
}


.navlink{
    color: var(--navlink);
}