
.lightTheme{
    --bg:#ffffff;
    --bgimg:url(../../public/assets/bgim2.jpg);
    --navlink:rgb(0, 0, 0);
    --navlinkhover:rgba(26, 26, 26, 0.831);
    --background-color: #FFFFFF;
    --imgshadow:rgba(179, 236, 240, 0.504);
    --textcolor:#1C1E21;
    --bgshadow:rgba(0, 0, 0, 0.589);
    --gradient1:#000000;
    --gradient2:#000000;
    --gradient3:#000000;
    --iconcolor:#E3E3E3;
    --sectionhead:blue;
    --imgshadow:rgba(227, 229, 230, 0.503);
}
.darkTheme{
    --bg:#242526;
    --bgimg:url(../../public/assets/bgim.jpeg);
    --navlink:rgba(255, 255, 255, 0.997);
    --navlinkhover:rgba(235, 234, 234, 0.633);
    --background-color: #1B1B1D;
    --textcolor:#E3E3E3;
    --bgshadow:rgba(73, 73, 73, 0.484);
    --gradient1:#da3cb7;
    --gradient2:#33e1ff;
    --gradient3:#c7009b;
    --iconcolor:#1C1E21; 
    --sectionhead:#F0DB4F;  
}


.navbarbg{
    background-image: var(--bgimg);
}

.new{
 color: var(--textcolor);
}

.bgimg{
 background-image: var(--bgimg);
    
}


.devname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right,var(--gradient1), var(--gradient2), var(--gradient3));
    -webkit-background-clip: text;
    overflow: hidden;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}

.description{
  color: #757575fe;
  font-size: clamp(12px, 3vw, 16px);
  font-family: cursive;
  font-style: italic;
  max-width: 80%;
}




@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


/* .devname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--textcolor);
    cursor: pointer;
    
} */

.navlink{
    color: var(--navlink);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navlink:hover {
    color: var(--navlinkhover);
  }

.maincontainer{
    height: 100%;
}




.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }

  .leftfirsthead{
    font-weight: 700;
    font-size:  2.4em ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--textcolor);
    
  }
  .leftsecondhead{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: var(--textcolor);
  }
  .main-name {
    color: var(--textcolor);
  }

  .left-header{
    padding-top: 120px;
    height: 100%;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .proicons{
   justify-content: start;
  }

  @media only screen and (max-width: 768px) {
   
    .left-header {
      padding-top: 50px; 
    }

    .leftfirsthead{
      text-align: center;
    }
    .leftsecondhead{
      text-align: center;
    }
    .welcomtext{
      text-align: center;
    }
    .description{
      text-align: center;
      max-width: 100%;
    }
    .proicons{
      justify-content: center;
    }
    .resumebtn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .aboutdiv{
  text-align: center;
    }
    .aboutrole{
      display: flex;
      justify-content: start;
    }
    .aboutcontent{
      display: flex;
      justify-content: start;
    }
  
   
  }
  @media only screen and (max-width: 640) {
    .left-header {
      padding-top: 50px; 
    }
    
    .leftfirsthead{
      text-align: center;
    }
    .leftsecondhead{
      text-align: center;
    }
    .welcomtext{
      text-align: center;
    }
    .description{
      text-align: center;
      max-width: 100%;
    }
    .proicons{
      justify-content: center;
    }
    .resumebtn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .aboutdiv{
      text-align: center;
        }
        .aboutrole{
          display: flex;
          justify-content: start;
        }
        .aboutcontent{
          display: flex;
          justify-content: start;
        }
  }

 .welcomtext{
    font-weight: 700;
    font-size: 1.9rem;
    font-family:Arial, Helvetica, sans-serif;
   color: var(--textcolor);
   overflow: hidden;
   min-height: 3rem;
} 

.rightimg{
  width: 100%;
  padding-top: 110px;
  display: flex;
  justify-content:center ;
  align-items: center;
}


.dpimg{
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  object-fit: cover;
  transition: border-radius 0.3s ease transform 3s ease;
  animation: shadow-animation 3s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
 
  @media (max-width: 768px) {
    max-width: 400px;
    max-height: 400px;
  }

  @media (max-width: 640px) {
    max-width: 280px;
    max-height: 280px;
  }
} 
.dpimg:hover {
  transform: scale(1.01); 
transition-duration: 0.8s;
}

.dpimg:not(:hover) {
  transition-duration: 0.8s; 
}
@keyframes shadow-animation {
  0% {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 1.0);
  }
  100% {
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
  }
}


.home-social-icons:hover {
  box-shadow: 0 0 15px var(--textcolor);
}


.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 40px ;
  height: 40px ;
  text-align: center ;
  font-size: 1.2em ;
  line-height: 2em ;
  background: var(--textcolor);
  border-radius: 50% ;
  transition: 0.5s ;
}

.social-icons{
  color: var(--iconcolor);
}


::-webkit-scrollbar {
  width: 1px;
  background: var(--iconcolor);
}

::-webkit-scrollbar-track {
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: var(--textcolor); 
  border-radius: 10px;
}
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--iconcolor); 
} */

.navheads{
  
  font-weight: 800;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutpara{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.0rem;
  color: var(--textcolor);
}


.categoryactive{
  color: var(--textcolor);
  background-color: rgb(20, 126, 251);
}
.categorynonactive{
  border: 1px solid;
  border-color:  var(--textcolor);

}

.aboutcategoryhead{
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--textcolor);
  
}

/* .custom-underline {
  border-bottom: 2px solid var(--textcolor);
  
  
} */

.custom-underline {
  position: relative;
  border-bottom: 2.5px solid var(--textcolor);
  transition: border-bottom-width 0.3s ease;
  border-radius: 4px;
}

.custom-underline::before {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--textcolor);
  transition: width 0.3s ease; 
  transform-origin: left;
  transform: scaleX(0); 
  border-radius: 4px;
}

/* .custom-underline:hover::before {
  width: 100%; 
  transform: scaleX(1); 
} */



.aboutrole{
  color: rgba(0, 0, 255, 0.732);
  font-weight: 400;
  font-size: 0.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutcontent{
  font-weight: 400;
  font-size: 0.9em;
  color: var(--textcolor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutimg{
  border-radius: 5%;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  transition: ease 0.5s;
  filter: brightness(75%);
  box-shadow: 0 6px 8px var(--textcolor);
}

.aboutimg:hover{
  box-shadow: 0 8px 16px var(--textcolor);
}

